<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">   
</head>
<title>ロリネーター</title>
<body>
    <div ALIGN="center">
        <h1>ロリネーター</h1>
    </div>

    このアプリではあなたの心の奥底に秘めたるロリ心を呼び覚まします。
    このアプリを使ってあなたが実はどのようなロリが心理的に好きなのかを知りましょう。
    使い方は簡単！
    いくつかの質問に回答するだけ！実に簡単！
    それでは下のボタンをクリックしてレッツ診断！！
</body>
</html>



