<div ALIGN="center">
    <h1>ロリネーター</h1><br>
    <h2>結果発表〜〜</h2>
</div>
<hr>
<div id="result">
    (hoge)さんの好みのロリの属性は<br>
    中二<br>
    メンヘラ<br>
    でした。<br><br>

    パラメーターは<br>
    無邪気度: 1<br>
    高飛車度: 5<br>
    知能度: 5<br>
    ツン: 5<br>
    デレ: 5<br>
    刹那度: 5<br>
    幸福度: 3<br>
    母性: 1<br>
    テンション: 1<br>
    でした<br>
</div>
