<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">   
</head>
<title>ロリネーター</title>
<body>
    <div ALIGN="center">
        <h1>ロリネーター</h1>
    </div>
    <hr>
    <div>
        ニックネーム<br>
        <input type="text"><br><br>
        パスワード<br>
        <input type="password"><br><br>
        パスワード再入力<br>
        <input type="password"><br><br>
    </div>
    <div ALGIN="center">
        <input type="submit" value="登録">
    </div>

</body>
</html>
